body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-size: 20px;
}

/* header styling */
header {
  background-color: rgb(42, 140, 226);
  margin: 0 0 10px 0;
}

.logo {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  color: white;
}

/* main styling */

.add-btn {
  will-change: transform;
  margin: 10px;
  padding: 8px 10px 8px 10px;
  background-color: rgb(39, 190, 39);
  color: white;
  font-weight: bold;
  border-radius: 14px;
  border: 1px solid;
  transition: transform 0.3s;
}

.add-btn:hover {
  transform: scale(1.05);
}

.close-btn {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  top: 2%;
  right: 1%;
  cursor: pointer;
  z-index: 999;
}

#modal.modal-hidden {
  display: none !important;
}

.modal-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
}

#modal {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10; /* stays above everything else */
}

.form-container {
  position: relative;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 300px;
}

.input-fields {
  margin: 0.5em 1em 0.5em 0.1em;
  padding: 12px 64px 12px 25px;
  background-color: rgba(128, 128, 128, 0.35);
  color: black;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 3px;
}
